/* ------------ */
/*    Layout    */
/* ------------ */

// global

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 1.5em;

  @include md {
    padding: 0 4em;
  }

  @include xl {
    margin: 0 auto;
    padding-right: clamp(72px, 6.25vw, 120px);
    padding-left: clamp(48px, 5.2vw, 100px);
  }

  @media (min-width: 1920px) {
    max-width: 1920px;
  }
}
